<nav class="navbar">    
    <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active" aria-current="page">Home</a>
        <a routerLink="/nesting" routerLinkActive="active" aria-current="page">Nesting</a>
        <a routerLink="/liste" routerLinkActive="active" aria-current="page">Liste d'amis</a>
    </div>
    <div class="animation-buttons">
        <button class="bomb-btn" (click)="dropBomb()">💣 Lancer une bombe</button>
        <button class="firework-btn" (click)="launchFireworks()">🎆 Feu d'artifice</button>
    </div>
</nav>

<canvas id="animationCanvas"></canvas>
