<h2>Liste des Amis</h2>
<input type="text" (input)="onUpdateFriendsList($event)" [value]="friendName" placeholder="Entrez un nom d'ami" />
<p>{{ friendName }}</p>
<button (click)="onAddFriend()" [disabled]="isDisabled">Ajouter un ami</button>
<p>{{ statusMessage }}</p>
<div class="friends-list">
    <app-one-friend 
        *ngFor="let friend of friends" 
        [image]="friend.image"
        [name]="friend.name" 
        [age]="friend.age" 
        [status]="friend.status" 
        [reputation]="friend.reputation" 
        [bio]="friend.bio" 
        [passion]="friend.passion">
    </app-one-friend>
</div>